*{
    margin: 0;
    padding: 0;
    font-family: 'VT323', monospace;
    color: white;
}


body{
    background-color: black;
}

header{
    height: 90px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid blue;
}
header img{
    margin-left: 10px;
    height: 50px;
}
header h1{
    margin: auto;
    color: #fff;
}

nav{
    display: inline-block;       
}

.menu{
    list-style:none;
       
}

.menu li{
    display: inline-block;
    position:relative;
    
    
}

.menu li a{
    color:yellow; 
    text-decoration:none; 
    padding:5px 10px; 
    display:block;
}

.menu li a:hover{
background:blue;
color:#fff;
text-shadow:0px 0px 5px #fff;
}

.menu li  ul{
    position:absolute;
    top:25px;
    left:0;
    background-color:#fff;
    display:none;
}

.menu li:hover ul, .menu li.over ul{display:block;}

.menu li ul li{
    background-color: #c0c0c0;
    display:block;
    width:150px;
}

main{
    border-top: 2px solid blue;
}

footer{
        background-color: black;
        text-align: center;
        padding: 8px;
        border-top: 2px solid blue;
        position: fixed bottom;
}
footer img{
        width: 30px;
}
    
/* estilização home */

main.estilo-home {
    display: flex;
    align-items: center;
    
}

.foto-home{
    
    height: 590px;
    width: 100%;

}
div.foto-home img{
    height: 590px;
    float: right;
    text-align: right;
}

.texto-home{
    display: inline-block;
    vertical-align: top;
    margin-left: 50px;
    margin-top: 100px;
}

.texto-home

.texto-home h2{
    font-size: xx-large;
    color: white;
}
/* estilização projetos */

/* estilização sobre mim */

.estilo-sobremim{
    display: inline-flexbox;

}
.estilo-sobremim h2{
    margin-left: 50px;
}

div table{
    width: 300px;
    height: 150px;
    padding: 10px 15px;
    display: inline-block;
    background-color: #c0c0c0;
    border: 2px solid blue;
    border-radius: 10px;
    margin-top: 25px;
    margin-left: 50px;
}
table th{
    font-size: 20px;
    padding-bottom: 10px;
    color: blue;
    
}table td{
    font-size: 18px;
    color: black;
}


/* estilização contato */

.estilo-contato{
    height: 490px;
    border-top: 2px solid blue;
    
}
.estilo-contato h1{
    margin: 20px auto;
    text-align: center;    
    color: white;
}

form {
    display: block;
    text-align: center;
    margin: 0 auto;
    height: 300px;
    width: 600px;
    padding: 1em;
    border: 1px solid blue;
    border-radius: 1em;
}

form div + div {
    margin-top: 1em;
}

label {
    color: yellow;
    display: inline-block;
    width: 50px;
    text-align: right;
}

input, textarea {
    height: 30px;
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;    
    border: 1px solid blue;
}

textarea {
    
    vertical-align: top;
    height: 10em;
    resize: vertical;
}

.botao-contato button{
    width: 100px;
    background-color: yellow;
    color: blue;
    border: 2px solid blue;
}

.botao-contato button:hover{

    background-color: blue;
    color: yellow;
    border: 2px solid yellow;
}